body
{
	background: rgb(255,255,255); /*Fondo*/
	color: #000000; /*Letra* cmd+Shift+7*/
	max-width: 1024px; /*Ancho maximo de la pantalla*/ 
	margin: 5px 2px 10px 50px; 
	padding: 10px 2px 10px 50px;

}
body header 	/*Siempre se afecta a la ultima ruta, o la mas a la derecha*/
{		/* Siempre intentar poner en Orden Alfabetico las etiquetas y los atributos*/
	background: blue;
	border: 7px solid red;	/*Alrededor   Parametros: Grueso, Color*/
	border-radius: 15px;  /*Esquinas */
	color:white ;
	text-align: center;
	box-shadow: -5px -10px black;
}
body header img{
	width: 80px;
	float: right;
	margin-right: 20px;
	margin-top: 20px;
}
body header h1 
{
	text-align: center;
	text-shadow:5px 5px 5px black;
}
header nav ul li
{
	display:inline-block; /* Se rompe el modelo de caja, para que las opciones salgan en un solo renglon	*/
	background: white;
	border:1px solid yellow;
	border-radius: 5px;
	box-shadow: 5px 7px gray;
	color: black;
	margin:0 30px 0 0;
	padding: 5px;
	text-align: center;
}
header nav ul li:hover
{
	background: black;
	color: white;
}
/*Aqui van los Id's*/
#seccion1 
{
	border: 10px solid red;
}
#seccion1 article
{
	border:10px solid black;
	display:inline-block;
	width: 47.8%;
	vertical-align: top;
	i
}